.header {
    grid-area: h;
    background-color: #0E211E;
}

.header img {
    width: 90px;

}

.loginBlock{
    float: right;
    text-decoration: none;
    color: white;
}

.loginBlock a{
    text-decoration: none;
    color: white;
}
